<%- include('./includes/header.ejs') %>

    <div class="header bg-primary pb-6">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                        <h6 class="h2 text-white d-inline-block mb-0">Services List</h6>

                    </div>
                    <div class="col-lg-6 col-5 text-right">
                        <a href="/admin/addService" class="btn btn-sm btn-neutral">New</a>
                        <a href="#" class="btn btn-sm btn-neutral">Filters</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
        <div class="row">
            <div class="col">
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header border-0">
                        <h3 class="mb-0">All Running Buses</h3>
                    </div>
                    <!-- Light table -->
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col" class="sort" data-sort="name">Service ID</th>

                                    <th scope="col" class="sort" data-sort="route">Route Name</th>
                                    <th scope="col" class="sort" data-sort="route">Bus Number</th>
                                    <th scope="col" class="sort" data-sort="route">Driver Name</th>
                                    <th scope="col" class="sort" data-sort="route">Driver Phone</th>
                                    <th scope="col" class="sort" data-sort="route">Current Stop</th>
                                    <th scope="col" class="sort" data-sort="route">Next Stop</th>
                                    <th scope="col" class="sort" data-sort="route">Status</th>

                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody class="list" id="tablebody">







                            </tbody>
                        </table>
                    </div>
                    <!-- Card footer -->
                    <div class="card-footer py-4">
                        <nav aria-label="...">
                            <ul class="pagination justify-content-end mb-0">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1">
                                        <i class="fas fa-angle-left"></i>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                <li class="page-item active">
                                    <a class="page-link" href="#">1</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">
                                        <i class="fas fa-angle-right"></i>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <script>
            getData();

            function getData() {
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        var $tbody = $('#tablebody');
                        // Typical action to be performed when the document is ready:
                        var obj=JSON.parse(xhttp.responseText);
                        console.log(obj.data);
                        obj.data.forEach((item, index, arr)=> {
                            console.log(item.bus_no);
                            $tbody.html('<td>'+item.service_id+'</td><td>'+item.route_name+'</td><td>'+item.bus_no+'</td><td>'+item.driver_name+'</td><td>'+item.driver_phone+'</td><td>'+item.current_stop+'</td><td>'+item.next_stop+'</td><td>'+item.status+'</td>');
                            })
                        
                    }
                };
                xhttp.open("GET", "/admin/getServiceData", true);
                xhttp.send();
            }

        </script>

    </div>

    <%- include('./includes/footer.ejs') %>